/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #1c2b35;
}
.header-logo {
  width: 50%;
}
.header-logo img {
  float: left;
  padding-left: 1em;
}
.header-link {
  width: 50%;
  display: flex;
}
.header-link a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 0.5em;
}
 */

/* Base Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  position: relative;
}

.hamburger:before,
.hamburger:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
  transition: transform 0.3s ease;
}

.hamburger:before {
  transform: translateY(-7px);
}

.hamburger:after {
  transform: translateY(7px);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle.active .hamburger:before {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .nav-toggle.active .hamburger:after {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .nav-toggle.active .hamburger {
    transform: rotate(360deg);
    background-color: transparent;
  }

  .nav-toggle.active + .nav-menu {
    display: flex;
  }
}
